//==== variables

$red: #E6625E;
$blue: #0BBCD6;
$ltg: #eee;
$wnp: 'warnock-pro-display', Georgia, 'Times New Roman', Times, serif;

.bl, .D:before {color: #0BBCD6;}
  .blbg, .info.D {background-color: #0BBCD6}
.rd, .R:before {color: #E6625E;}
  .rdbg, .info.R {background-color: #E6625E;}
.wht {color: white;}
  .whtbg {background-color: white;}
.ltg {color: #ddd;}
  .ltgbg {background-color: #ddd;}

.D {border-color: #0BBCD6 !important;}
.R {border-color: #E6625E !important;}


//==== mixins

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

//@include border-radius(10px)

@mixin colorset($color) {
  color: $color;
}

@mixin backgroundset($color) {
  background-color: $color;
}

@mixin borderset($color, $rad, $width) {
  border: $width solid $color;
  border-radius: $rad;
}

@mixin tns($time) {
  transition: $time;
}

//==== extendables





//==== styles


//====================== CONTAINER & WRAPPER

/* the main parent */
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .container {
    flex: 1;
  }
}

#root {
  background-image: url('../public/media/dkbg.jpg');
  background-size:cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content:center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 10vw;
  .logo {
    .svglogo {
      max-width: 250px;
    }
  }
  .toplinks {
    ul {
      display: flex;
      li {
        a {
          color: white;
          text-decoration: none;
          padding: 5px 20px;
          transition: 0.5s all;
          border-bottom: 3px solid black;
          &:hover {
            @include colorset($red);
            border-bottom: 3px solid $red;
          }
        }
      }
    }
  }
}

footer {
  padding: 0 20vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  @include backgroundset(white);
  box-sizing: border-box;
  @media screen and (max-width: 1000px) {
    font-size: 12px;
    padding: 0;
  }
  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    li {
      flex: 1;
      text-align: center;
      border-left: 1px solid #ddd;
      box-sizing: border-box;
      a {
        border-top: 3px solid #ddd;
        display: block;
        box-sizing: border-box;
        text-decoration:none;
        width: 100%;
        padding: 1em 0;
        @include colorset(black);
        transition: 0.2s;
        //transition-property: background-color;
        &:hover {
          @include backgroundset(#ddd);
          border-top: 3px solid $blue;
        }
      }
    }
  }
}


//=========== HOME

.init {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: 80vw;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    justify-content:center;
  }
  .left {
    display: flex;
    flex:1;
    max-width: 50vw;
    padding: 50px;
    box-sizing: border-box;
    h1 {
      @include colorset(white);
      font-size: 4em;
      font-family: $wnp;
    }
    @media screen and (max-width: 1000px) {
      align-items: flex-end;
    }
  }
  .right {
    display: flex;
    flex:1;
    padding: 50px;
    box-sizing: border-box;
    @media screen and (max-width: 1000px) {
      align-items: flex-start;
    }
  }

  @media screen and (max-width: 1000px) {
    .left, .right {
      max-width: 80vw;
    }
  }

}


.right .initialinput input {
  color: white;
  font-size: 2em;
  display: inline-block;
  padding: 15px;
  border-bottom: 3px solid white;
  width: 17vw;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .right .initialinput input {
    width: 60%;
  }
}

.initialinput button i:before {
cursor: pointer;
color: white;
transition: 0.2s all;
}

.initialinput button:hover i:before {
color: #0BBCD6;
transition: 0.2s all;
}

.right .initialinput .ziplabel {
font-size: 0.8em;
margin: 15px;
}

//============== AUTH & MODAL

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  align-items: center;
  justify-content: center;
  .formcontainer {
    position: relative;
    .close {
      position: absolute;
    }
    display: flex;
    background-color: white;
    padding: 25px;
    .login-form, .regform {
      h1 {
        font-family: $wnp;
        text-align: center;
        font-size: 2em;
        padding: 20px 0;
      }
      .optext {
        display: inline-block;
        padding: 5px 15px;
        border: 1px solid #ccc;
        margin: 5px;
        cursor: pointer;
        @include tns(0.2s);
        &:hover {
          background-color: #ddd;
          @include tns(0.2s);
        }
      }
      .D {
        background-color: lighten($blue, 40);
        border-color: $blue;
        @include tns(0.2s);
      }
      form {
        div {
          display: flex;
          @media screen and (max-width: 1000px) {
            flex-direction: column;
          }
          input {
            border-bottom: 3px solid $red;
            padding: 5px 15px;
            margin: 10px;
            @include tns(0.2s);
            &:focus {
              border-bottom: 3px solid $blue;
              @include tns(0.2s);
            }
          }
        }
        .submitb {
          @include borderset($blue, 1px, 3px);
          cursor: pointer;
          display: block;
          margin: 25px auto;
          padding: 15px 30px;
          transition: 0.2s all;
          &:hover {
            @include backgroundset($blue);
            transition: 0.2s all;
          }
        }
      }
    }
    .regform {
      .waiting {
        display: block;
        text-align: center;
        font-family: $wnp;
        font-style: oblique;
        margin: 15px auto 25px;
      }
    }
  }
}


//============== ABOUT

.about {
  @include backgroundset(white);
  padding: 50px;
  max-width: 60vw;
  margin: 150px auto;
  box-sizing: border-box;
  p {
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 15px 0;
  }
  h1 {
    font-size: 3em;
    font-family: $wnp;
  }
}


//============== BILLS

.billholder {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 50px;
  margin: 150px auto;
  width: 70vw;
  h1 {
    font-size: 3em;
    margin-bottom: 50px;
    font-family: $wnp;
  }
  .faketabs {
    display: flex;
    flex-direction: row;
    li {
      flex: 1;
      padding: 15px;
      text-align: center;
    }
    .activetab {
      background-color: $ltg;
      border-bottom: 3px solid $red;
      @include tns(0.2s);
    }
    .basetab {
      border-bottom: 3px solid $ltg;
      @include tns(0.2s);
    }
  }
}

.bills-list {
  max-height: 800px;
  overflow-y: scroll;
  ul {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      margin: 15px 0;
      border: 1px solid #eee;
      flex-direction: column;
      .top {
        display: flex;
        border-bottom: 1px solid #eee;
        padding: 15px;
        align-items: center;
        justify-content: space-around;
        .flag {
          background-color: $red;
          padding: 5px;
          display: block;
          font-size: 0.5em;
          color: white;
          margin: 0 15px 0 0;
        }
        .name {
          font-size: 1.3em;
        }
      }
      .parent {
        display: flex;
        .about-law {
          flex: 3;
          padding: 15px;
          border-right: 1px solid #eee;
          .title {
            display: block;
            font-size: 1.3em;
            margin: 0 0 15px;
            font-family: $wnp;
            label {
              display: block;
              font-size: 0.8em;
              text-transform: uppercase;
              color: #aaa;
              margin-bottom: 5px;
            }
          }
          .lma {
            font-style: oblique;
          }
        }
        .smaller {
          flex: 1;
          padding: 15px;
          .intr {
            label {
              display: block;
              font-size: 0.8em;
              text-transform: uppercase;
              color: #aaa;
              margin-bottom: 5px;
            }
            color: $red;
            display: block;
            margin: 5px 0;
          }
          .sponsor {
            display: block;
            margin: 5px 0;
          }
          .tag {
            color: $blue;
            font-size: 0.8em;
            font-style: oblique;
          }
        }
      }
    }
  }
}

//============== SEARCH 

.shortlegs {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  max-width:1100px;
  margin-bottom: 100px;
}
.shortlegs ul {
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content: center;
}
.shortlegs li {
  width: 260px;
  display: flex;
  flex-direction:column;
  box-sizing:border-box;
  padding: 15px;
  border: 1px solid #eee;
  margin: 5px;
}
.shortlegs .shorthead h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.shortlegs .shorthead h3 i {
  margin-right: 10px;
}

.shortlegs .shorthead .info { /* decided by party*/
  color: white;
  padding: 2px 5px;
  text-transform:uppercase;
  font-size:0.8em;
}

.addprompt {
  font-size: 0.7em;
  font-family: $wnp;
  font-style: oblique;
  a {
    text-decoration: underline;
    color: #ccc;
  }
}

.shrtphn {
  display:flex;
  align-items:center;
}
.contact {
  margin-top: 10px;;
}
.shrtphn span {
  font-size: 1.5em;
  padding-left: 10px;
}

.searchbar input {
  border-bottom: 3px solid white;
  padding: 10px;
  margin: 10px;
  width: 30vw;
  font-size: 1.8em;
  text-align:center;
}
.searchbar {
  text-align:center;
  margin: 50px 0 20px;
}

.search {
  color: white;
}

//======= DASH LEGISLATORS 

.leglist {
  display: flex;
  max-width:80vw;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 150px;
}
@media screen and (max-width: 1000px) {
  .leglist {
    width: 80vw;
  }
}

.leglist ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}

.leglist ul li {
  display: flex;
  width: 380px;
  padding: 15px;
  box-sizing: border-box;
  float: left;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #eee;
  margin: 20px 10px;
  transition: all 0.25s ease;
  background-color: white;
}

.leglist ul li .leghead {
  display: flex;
}

.leglist img {
  width: 150px;
  height: 183px;
}
.leglist .headinfo {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.leglist .headinfo h3 {
  font-size: 22px;
  font-style: oblique;
  margin: 5px 0
}

.leglist .represents {
  color: white;
  background-color: black;
  padding: 0 0.8em;
}

.currentterm {
  margin: 5px 0;
  font-size: 0.8em;
}

.legbody {
  padding: 1.2em;
  display:flex;
  flex-direction:column;
}
.legadd, .legphn, .legsoc {
  display:flex;
  flex-direction:row;
  align-items:center;
}
.legphn h3 {
  padding-left: 0.8em; font-size: 1.5em;
}
.legadd p {
  padding-left:0.8em;
}
.legsoc {
  display:flex;
  justify-content:space-between;
}
.legbody > * {
  padding: 0.8em 0;
}

//================= modals

.overlay {
  .overlay-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 1;
    margin: 10vw;
    .baseinfo {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #eee;
      div {
        flex: 1;
        padding: 15px;
      }
    }
    .bio-contact {
      padding: 50px;
      display: flex;
      div {
        flex: 1;
        padding: 15px;
        box-sizing: border-box;
      }
    }
    .votes {
      border-top: 1px solid #eee;
      padding: 15px;
      .votecontainer {
        max-height: 200px;
        overflow-y: scroll;
        .vote {
          display: flex;
          flex-direction: row;
          div {
            display: flex;
            padding: 10px;
          }
          .time-vote {
            flex-direction: row;
            flex: 1;
            justify-content: space-around;
            align-items: center;
            
          }
          .vote-meta {
            flex: 3;
            flex-direction: column;
          }
        }
      }
    }
  }
}