.bl, .D:before {
  color: #0BBCD6; }

.blbg, .info.D {
  background-color: #0BBCD6; }

.rd, .R:before {
  color: #E6625E; }

.rdbg, .info.R {
  background-color: #E6625E; }

.wht {
  color: white; }

.whtbg {
  background-color: white; }

.ltg {
  color: #ddd; }

.ltgbg {
  background-color: #ddd; }

.D {
  border-color: #0BBCD6 !important; }

.R {
  border-color: #E6625E !important; }

/* the main parent */
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  .wrapper .container {
    flex: 1; }

#root {
  background-image: url("../public/media/dkbg.jpg");
  background-size: cover;
  background-attachment: fixed; }

.container {
  display: flex;
  justify-content: center; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 10vw; }
  nav .logo .svglogo {
    max-width: 250px; }
  nav .toplinks ul {
    display: flex; }
    nav .toplinks ul li a {
      color: white;
      text-decoration: none;
      padding: 5px 20px;
      transition: 0.5s all;
      border-bottom: 3px solid black; }
      nav .toplinks ul li a:hover {
        color: #E6625E;
        border-bottom: 3px solid #E6625E; }

footer {
  padding: 0 20vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-sizing: border-box; }
  @media screen and (max-width: 1000px) {
    footer {
      font-size: 12px;
      padding: 0; } }
  footer .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-right: 1px solid #ddd;
    box-sizing: border-box; }
    footer .footer-nav li {
      flex: 1;
      text-align: center;
      border-left: 1px solid #ddd;
      box-sizing: border-box; }
      footer .footer-nav li a {
        border-top: 3px solid #ddd;
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        width: 100%;
        padding: 1em 0;
        color: black;
        transition: 0.2s; }
        footer .footer-nav li a:hover {
          background-color: #ddd;
          border-top: 3px solid #0BBCD6; }

.init {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: 80vw; }
  @media screen and (max-width: 1000px) {
    .init {
      flex-direction: column;
      justify-content: center; } }
  .init .left {
    display: flex;
    flex: 1;
    max-width: 50vw;
    padding: 50px;
    box-sizing: border-box; }
    .init .left h1 {
      color: white;
      font-size: 4em;
      font-family: "warnock-pro-display", Georgia, "Times New Roman", Times, serif; }
    @media screen and (max-width: 1000px) {
      .init .left {
        align-items: flex-end; } }
  .init .right {
    display: flex;
    flex: 1;
    padding: 50px;
    box-sizing: border-box; }
    @media screen and (max-width: 1000px) {
      .init .right {
        align-items: flex-start; } }
  @media screen and (max-width: 1000px) {
    .init .left, .init .right {
      max-width: 80vw; } }

.right .initialinput input {
  color: white;
  font-size: 2em;
  display: inline-block;
  padding: 15px;
  border-bottom: 3px solid white;
  width: 17vw;
  text-align: center; }

@media screen and (max-width: 1000px) {
  .right .initialinput input {
    width: 60%; } }

.initialinput button i:before {
  cursor: pointer;
  color: white;
  transition: 0.2s all; }

.initialinput button:hover i:before {
  color: #0BBCD6;
  transition: 0.2s all; }

.right .initialinput .ziplabel {
  font-size: 0.8em;
  margin: 15px; }

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center; }
  .overlay .formcontainer {
    position: relative;
    display: flex;
    background-color: white;
    padding: 25px; }
    .overlay .formcontainer .close {
      position: absolute; }
    .overlay .formcontainer .login-form h1, .overlay .formcontainer .regform h1 {
      font-family: "warnock-pro-display", Georgia, "Times New Roman", Times, serif;
      text-align: center;
      font-size: 2em;
      padding: 20px 0; }
    .overlay .formcontainer .login-form .optext, .overlay .formcontainer .regform .optext {
      display: inline-block;
      padding: 5px 15px;
      border: 1px solid #ccc;
      margin: 5px;
      cursor: pointer;
      transition: 0.2s; }
      .overlay .formcontainer .login-form .optext:hover, .overlay .formcontainer .regform .optext:hover {
        background-color: #ddd;
        transition: 0.2s; }
    .overlay .formcontainer .login-form .D, .overlay .formcontainer .regform .D {
      background-color: #b2f2fb;
      border-color: #0BBCD6;
      transition: 0.2s; }
    .overlay .formcontainer .login-form form div, .overlay .formcontainer .regform form div {
      display: flex; }
      @media screen and (max-width: 1000px) {
        .overlay .formcontainer .login-form form div, .overlay .formcontainer .regform form div {
          flex-direction: column; } }
      .overlay .formcontainer .login-form form div input, .overlay .formcontainer .regform form div input {
        border-bottom: 3px solid #E6625E;
        padding: 5px 15px;
        margin: 10px;
        transition: 0.2s; }
        .overlay .formcontainer .login-form form div input:focus, .overlay .formcontainer .regform form div input:focus {
          border-bottom: 3px solid #0BBCD6;
          transition: 0.2s; }
    .overlay .formcontainer .login-form form .submitb, .overlay .formcontainer .regform form .submitb {
      border: 3px solid #0BBCD6;
      border-radius: 1px;
      cursor: pointer;
      display: block;
      margin: 25px auto;
      padding: 15px 30px;
      transition: 0.2s all; }
      .overlay .formcontainer .login-form form .submitb:hover, .overlay .formcontainer .regform form .submitb:hover {
        background-color: #0BBCD6;
        transition: 0.2s all; }
    .overlay .formcontainer .regform .waiting {
      display: block;
      text-align: center;
      font-family: "warnock-pro-display", Georgia, "Times New Roman", Times, serif;
      font-style: oblique;
      margin: 15px auto 25px; }

.about {
  background-color: white;
  padding: 50px;
  max-width: 60vw;
  margin: 150px auto;
  box-sizing: border-box; }
  .about p {
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 15px 0; }
  .about h1 {
    font-size: 3em;
    font-family: "warnock-pro-display", Georgia, "Times New Roman", Times, serif; }

.billholder {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 50px;
  margin: 150px auto;
  width: 70vw; }
  .billholder h1 {
    font-size: 3em;
    margin-bottom: 50px;
    font-family: "warnock-pro-display", Georgia, "Times New Roman", Times, serif; }
  .billholder .faketabs {
    display: flex;
    flex-direction: row; }
    .billholder .faketabs li {
      flex: 1;
      padding: 15px;
      text-align: center; }
    .billholder .faketabs .activetab {
      background-color: #eee;
      border-bottom: 3px solid #E6625E;
      transition: 0.2s; }
    .billholder .faketabs .basetab {
      border-bottom: 3px solid #eee;
      transition: 0.2s; }

.bills-list {
  max-height: 800px;
  overflow-y: scroll; }
  .bills-list ul {
    display: flex;
    flex-direction: column; }
    .bills-list ul li {
      display: flex;
      margin: 15px 0;
      border: 1px solid #eee;
      flex-direction: column; }
      .bills-list ul li .top {
        display: flex;
        border-bottom: 1px solid #eee;
        padding: 15px;
        align-items: center;
        justify-content: space-around; }
        .bills-list ul li .top .flag {
          background-color: #E6625E;
          padding: 5px;
          display: block;
          font-size: 0.5em;
          color: white;
          margin: 0 15px 0 0; }
        .bills-list ul li .top .name {
          font-size: 1.3em; }
      .bills-list ul li .parent {
        display: flex; }
        .bills-list ul li .parent .about-law {
          flex: 3;
          padding: 15px;
          border-right: 1px solid #eee; }
          .bills-list ul li .parent .about-law .title {
            display: block;
            font-size: 1.3em;
            margin: 0 0 15px;
            font-family: "warnock-pro-display", Georgia, "Times New Roman", Times, serif; }
            .bills-list ul li .parent .about-law .title label {
              display: block;
              font-size: 0.8em;
              text-transform: uppercase;
              color: #aaa;
              margin-bottom: 5px; }
          .bills-list ul li .parent .about-law .lma {
            font-style: oblique; }
        .bills-list ul li .parent .smaller {
          flex: 1;
          padding: 15px; }
          .bills-list ul li .parent .smaller .intr {
            color: #E6625E;
            display: block;
            margin: 5px 0; }
            .bills-list ul li .parent .smaller .intr label {
              display: block;
              font-size: 0.8em;
              text-transform: uppercase;
              color: #aaa;
              margin-bottom: 5px; }
          .bills-list ul li .parent .smaller .sponsor {
            display: block;
            margin: 5px 0; }
          .bills-list ul li .parent .smaller .tag {
            color: #0BBCD6;
            font-size: 0.8em;
            font-style: oblique; }

.shortlegs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1100px;
  margin-bottom: 100px; }

.shortlegs ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }

.shortlegs li {
  width: 260px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #eee;
  margin: 5px; }

.shortlegs .shorthead h3 {
  font-size: 1.2em;
  margin-bottom: 5px; }

.shortlegs .shorthead h3 i {
  margin-right: 10px; }

.shortlegs .shorthead .info {
  /* decided by party*/
  color: white;
  padding: 2px 5px;
  text-transform: uppercase;
  font-size: 0.8em; }

.addprompt {
  font-size: 0.7em;
  font-family: "warnock-pro-display", Georgia, "Times New Roman", Times, serif;
  font-style: oblique; }
  .addprompt a {
    text-decoration: underline;
    color: #ccc; }

.shrtphn {
  display: flex;
  align-items: center; }

.contact {
  margin-top: 10px; }

.shrtphn span {
  font-size: 1.5em;
  padding-left: 10px; }

.searchbar input {
  border-bottom: 3px solid white;
  padding: 10px;
  margin: 10px;
  width: 30vw;
  font-size: 1.8em;
  text-align: center; }

.searchbar {
  text-align: center;
  margin: 50px 0 20px; }

.search {
  color: white; }

.leglist {
  display: flex;
  max-width: 80vw;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 150px; }

@media screen and (max-width: 1000px) {
  .leglist {
    width: 80vw; } }

.leglist ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap; }

.leglist ul li {
  display: flex;
  width: 380px;
  padding: 15px;
  box-sizing: border-box;
  float: left;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #eee;
  margin: 20px 10px;
  transition: all 0.25s ease;
  background-color: white; }

.leglist ul li .leghead {
  display: flex; }

.leglist img {
  width: 150px;
  height: 183px; }

.leglist .headinfo {
  padding: 1em;
  display: flex;
  flex-direction: column; }

.leglist .headinfo h3 {
  font-size: 22px;
  font-style: oblique;
  margin: 5px 0; }

.leglist .represents {
  color: white;
  background-color: black;
  padding: 0 0.8em; }

.currentterm {
  margin: 5px 0;
  font-size: 0.8em; }

.legbody {
  padding: 1.2em;
  display: flex;
  flex-direction: column; }

.legadd, .legphn, .legsoc {
  display: flex;
  flex-direction: row;
  align-items: center; }

.legphn h3 {
  padding-left: 0.8em;
  font-size: 1.5em; }

.legadd p {
  padding-left: 0.8em; }

.legsoc {
  display: flex;
  justify-content: space-between; }

.legbody > * {
  padding: 0.8em 0; }
